{
  "presets": [
    "@babel/preset-env",
    "next/babel"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      { 
        "root": ["./"], 
        "cwd": "packagejson", 
        "alias": {
          "components": "./components",
          "commons": "./commons",
          "store": "./store",
          "lib": "./lib",
          "routes": "./routes",
        }, 
      }
    ]
  ]
}